.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.postsContainer {
    display: flex;
    gap: 100px;
    width: 100%;
}



.post:last-child {
    margin-bottom: 0;
}



.manageButton {
    width: 235px;
}


